{% extends "base.html" %}

{% block extrahead %}
<meta property="og:type" content="website">
<meta property="og:site_name" content="MGPP">
<meta property="og:url" content="https://plumygame.github.io/mgpp/">
<meta property="og:title" content="MGPP | Mindustry Gradle Plugin for Modding">
<meta property="og:description" content="A Mindustry modding gradle plugin, named Plumy.">
<meta property="og:image" content="https://raw.githubusercontent.com/PlumyGame/mgpp/master/GFX/social-preview.png"/>
<meta property="og:image:alt" content="A Mindustry modding gradle plugin, named Plumy."/>

<meta property="twitter:title" content="MGPP | Mindustry Gradle Plugin for Modding">
<meta property="twitter:description" content="A Mindustry modding gradle plugin, named Plumy.">
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:image:src" content="https://raw.githubusercontent.com/PlumyGame/mgpp/master/GFX/social-preview.png"/>
{% endblock %}