name: Deploy MkDocs to gh-pages
on:
  push:
    branches:
      - master 
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: |
      startsWith(github.event.head_commit.message,'[document]') &&
      github.repository == 'PlumyGame/mgpp'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material 
      - run: mkdocs gh-deploy --force